<!-- CSS styling from W3 schools -->

<html>
 <head>
  <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../styles/siteStandard.css">
  <title>Create User</title>
 </head>
 <body>
   <div>
   <form action="../scripts/php/CreateTeacher.php" id="add" method ="post">
        Username   <input type="text" name="username" ><br>
        Password (Max of 10 characters)   <input type="text" name="password" ><br>
   <input type="submit" value="Create User">

   </form>
  </div>
 </body>
</html>
