<!-- CSS styling from W3 schools -->

<html>
  <head>
    <title>Login</title>
    <meta content="">
    <link rel="stylesheet" type="text/css" href="../styles/siteStandard.css">
  </head>

  <body>
  <div>
  <form name="myForm" action="../scripts/php/TeacherLogin.php" method="post">
    Username:
    <input type="text" name="username"><br>
    Password:
    <input type="password" name="password">
    <br>
    <input type="submit" name="submit" value="Login">
  </form>
</div>

  </body>
</html>
