<html>
    <head>
        <script type="text/javascript" src="assets/scripts/jquery-1.12.3.js"></script>
       <!-- <script type="text/javascript" src="assets/scripts/custom_jquery.js"></script> -->
        <script type="text/javascript" src="assets/scripts/practicePage_jquery.js"></script>
        <title>Practice Page</title>
    </head>
    
    <body>
        
        <h1>Pratice.html</h1>
        
       
            Question:<br>
            <p id="question_body"></p>
            <input type="radio" name="radioBtn" id="optionA"><br>
            <input type="radio" name="radioBtn" id="optionB"><br>
            <input type="radio" name="radioBtn" id="optionC"><br>
            
            <input type="submit" id="submitBtn" value="Submit" onClick="alert('click')">
        
        
    </body>
</html>