/* Styles From W3 Schools */
input[type=text],input[type=number]
    {
      padding: 10px 15px;
      margin: 8px 0;
      border-radius: 4px;
      cursor: pointer;
      font-size: 100%;
    }

    body
    {
      color: #2A17B1;
      font-weight:bold;
      font-family:Arial;
      background-color: #7D71D8;
    }

    button
    {
      background-color:#2A17B1;
      color: white;
      font-size: 120%;
      border-radius: 8px;
      border: none;
    }
    input[type=submit]
    {
      background-color:#150873;
      color: white;
      font-size: 120%;
      border-radius: 8px;
      border: none;
    }