body
{
  background-repeat: no-repeat;
  background-size: 100%;
}

form
{
  background-color: #ff9900;
  width: 25%;
  text-align: center;
  border-style: solid;
  border-width: medium;
}

p
{
  font-size: 16pt;
}

a
{
  color: blue;
  font-size: 15pt;
}

a:hover
{
  /*background-color: yellow;*/
  color: #33cc33;
}
